<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookmemoapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookMemoApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".MapFragmentActivity"></activity>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="j3mnb7vaqt" />

        <activity android:name=".papago.Papago" />
        <activity android:name=".searchbook.SearchedBookExplanation" />
        <activity android:name=".timer.TimerActivity" />
        <activity android:name=".login.Login" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Memo"
            android:label="@string/memo_page"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".searchbook.SearchBook"
            android:label="도서검색"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AroundLibrary"
            android:label="근처 도서관, 서점"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".community.Community"
            android:label="커뮤니티"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".community.WriteCommunity"
            android:label="글쓰기"
            android:parentActivityName=".community.Community"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".community.ReadCommunity"
            android:label="커뮤니티"
            android:parentActivityName=".community.Community" />
        <activity
            android:name=".bestseller.RecommendBook"
            android:label="베스트셀러"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bestseller.BookExplanation"
            android:label="책 설명"
            android:parentActivityName=".bestseller.RecommendBook" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>